dist
dist-*
cabal-dev
src/*.sh
*~
#*
.#*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
*.cabal
cabal.sandbox.config
*.prof
*.aux
*.hp
*.png
*.gif
*.eventlog
.stack-work/
cabal.project.local
